Reference Data
TEST Scripts
.DS_Store
How to git.txt
__pycache__
*.pyc

milo/data
milo/__pycache__
milo/config.json
milo/config*.json
!milo/config.sample.json
milo/files.json
milo/files*.json
!milo/files.sample.json
